<a href="https://colab.research.google.com/github/diegoalmanzaxd/daa_2021_1/blob/master/23_Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
def ejemplo7( n ):
  count = 0
  for i in range( n ) :
    for j in range( 25 ) :
      for k in range( n ):
        count += 1
  return count
ejemplo7(4)
#FUNCION T(n)= n+25n^2

400

In [18]:
def ejemplo7_2( n ):
  count = 1
  for i in range( n ) :
    for j in range( 25 ) :
      for k in range( n ):
        count += 1
      for k in range( n ):
        count += 1
  return count 
  # Funcion T(n)= 1 + 25n^2 +25n^2
  #los dos primeros for afectan de igual manera a los dos for de abajo 
ejemplo7_2(3)

451

In [24]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
  total = 0
  for index in range(len(numeros)):
    total = numeros[index]
  return total
#funcion T(n)=1+n
# botacion big O 0(n)=n

10

In [7]:
def ejemplo9(  n ):
  contador = 0
  basura = 0
  for i in range( n ) :
    contador += 1
  for j in range( n ) :
    contador += 1
  basura = basura + contador
  return contador
# funcion 3 + 2n

print(ejemplo9( 5 ))

10

In [11]:
def ejemplo10( n ):
  count = 0
  for i in range( n ) :
    for j in range( i+1 ) :
      count += 1
  return count
ejemplo10(5)
#funcion

15