<a href="https://colab.research.google.com/github/diegoalmanzaxd/daa_2021_1/blob/master/26_Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
def ejemplo11( n ):
  count = 0
  i = n
  while i > 1 :
    count += 1
    i = i // 2 
  return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n)

4

In [12]:
def ejemplo12( n ):
  contador = 0
  for x in range(n):
    contador += ejemplo11(x)
  return contador
ejemplo12(10)

16

In [11]:
def ejemplo12_bis( n=5 ):
  contador = 0
  contador = contador + ejemplo11(0) # 0
  contador = contador + ejemplo11(1) # 0
  contador = contador + ejemplo11(2) # 1
  contador = contador + ejemplo11(3) # 1
  contador = contador + ejemplo11(4) # 2
  return contador
ejemplo12_bis( 5 )

4

In [10]:
def ejemplo13( x ):
  bandera = x
  contador = 0
  while( bandera >= 10):
    print(f" x = { bandera } ")
    bandera /= 10
    contador = contador + 1
  print(contador)
# T(x) = log10 x +1
ejemplo13( 1000 )

 x = 1000
 x = 100.0
 x = 10.0
3

In [16]:
def ejemplo14( n ):
  y = n
  z = n
  contador = 0
  while y >= 3: #3
    y /= 3  # 1
    contador += 1  # cont =3
    
  while z >= 3: #27
    z /= 3
    contador += 1
  return contador
print(ejemplo14( 27 ))

6

In [18]:
def ejemplo15( n ): 
  contador = 0
  for i in range( n ) :
    for j in range( n ) :
      contador += 1
            
  while n > 1 :
    contador += 1
    n /= 2
  return contador

print(ejemplo15(10))

104